<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="ros_bag_file"	                default="/home/ps/hxw_projects/OpenPCDet_working/catkin_ws/src/hf3d_ros/bag/kitti_2011_09_26_drive_0048_synced.bag"/>
    <node pkg="rosbag" type="play" name="player" output="log" args="-l $(arg ros_bag_file)" />

    <!-- Camera topic and weights, config and classes files -->
    <arg name="lidar_topic"	                default="/kitti/velo/pointcloud"/>

    <!-- Published topics -->
    <arg name="lane_det_topic"      default="/detected_lanes"/>

    <!-- Node -->
    <node name="lane_detector_manager" pkg="lane_detection_lidar" type="lane_detection_kitti_V3.py" output="screen" respawn="true">
        <param name="lidar_topic"               value="$(arg lidar_topic)"/>
        <param name="lane_det_topic"               value="$(arg lane_det_topic)"/>
    </node>
    <node type="rviz" name="rviz" pkg="rviz"/>
</launch>